---
// Server Side Code 
const secrectAPIKey = import.meta.env.PUBLIC_WEATHER_API_KEY;
---

<!-- Weather -->
<section class="weather">
        
      <h1>Weather</h1>
      <data value="" class="city">City</data>
      <data value="" class="temp">Temp</data>
      <img src="https://assets.codepen.io/16425/image-placeholder.png?width=200&height=200&format=auto" class="icon" />
    
</section>

<script lang="js" define:vars={{ secrectAPIKey }}>

// Set API key in `.env` file
const APIKEY = secrectAPIKey;

// City
const city = 'Spokane';
// Units for Farenheit
const units = 'imperial';

// URL query string
const url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${APIKEY}&units=${units}`;

// Get Elements
const theCity = document.querySelector('.city');
const theTemp = document.querySelector('.temp');
const theIcon = document.querySelector('.icon');

// Using fetch to get data
fetch(url)
.then( response => response.json() )
.then( data => {

  // Check-check: Is data good? 
  console.log( data );
  
  // Set Elements
  theCity.innerText = data.name;
  theTemp.innerText = data.main.temp;
  theIcon.src = `https://openweathermap.org/img/wn/${data.weather[0].icon}@2x.png`;
  
});

</script>